body {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: "Prompt", sans-serif;
}

.datatable td,
th {
    text-align: center;
    vertical-align: middle;

}

.datatable {
    margin: 0;
    padding: 0;
    border-style: solid;
    border: 3px solid #ffffff;
    border-collapse: collapse;
}

.hot{
    color: rgb(255, 79, 48);
}
.normal{
    color: rgb(175, 255, 175);
}
.cold{
    color: rgb(226, 241, 255);
}

.but{
    color: rgb(255, 255, 255);
}